{% extends 'base.html' %}
{% load static %}
{% block title %}Coffee Machine{% endblock %}

{% block content %}
<h3>{{ title }}</h3>
  <form method="post">
    <div id="problems"></div>
    <div class=" m-5">
      <div class="col col-6 offset-4">
        {% csrf_token %}
          <div id="coffee_machine">
              <div id="coffee_choice">
                 {{ form.coffee_type }}
              </div>
              <div id="coffee_image">
              </div>
              <div id="coffee_button">
                <button class="btn btn-primary btn-sm" id="coffee_maker" type="button">Make a coffee</button>
              </div>
          </div>
        </div>
    </div>
    <div class="m-5">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-danger" id="beans_options"  type="button" disabled="disabled">Fill beans</button>
        <button class="btn btn-danger" id="water_options"  type="button" disabled="disabled">Fill water</button>
        <button class="btn btn-danger" id="milk_options"  type="button" disabled="disabled">Fill milk</button>
        <button class="btn btn-danger" id="trash_options"  type="button" disabled="disabled">Remove trash</button>
      </div>
    </div>
  </form>

{% endblock %}
